@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'titilliumblack';
    src: url('../fonts/titillium-black-webfont.woff2') format('woff2'),
         url('../fonts/titillium-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
#bb{
	background-color: #b2bcc0;/*#153340*/
}
#home_picture {
	background-image: url(../images/space.png);
	background-size: 100%;
	position: relative;
	background-repeat: no-repeat;
	padding-right:0px;
	margin-right:-10px;
}
#main_nav {
	height: 90px;
	width:100%;
}
#nav_unactive_page_1{
	text-decoration: none;
	font-family: "Baskerville Old Face", Helvetica, Arial, sans-serif;
	font-size:40px;
	color: #B2bcc0;
	top:10px;
}

#nav_unactive_page_2{
	text-decoration: none;
	font-family: "Baskerville Old Face", Helvetica, Arial, sans-serif;
	font-size:40px;
	color: #B2bcc0;
	top:10px;	
}
#nav_active_page{
	text-decoration: none;
	font-family: "Baskerville Old Face", Helvetica, Arial, sans-serif;
	font-size: 60px;
	color: #B2bcc0;
}
#name_block{
	color:#b2bcc0;
	padding-top: 15%;
	padding-left: 5px;
	font-family: "Baskerville Old Face", Helvetica, Arial, sans-serif;
}

#mea{
	font-size:30px;
}
#bg{
	margin:0px;
	padding:0px;
	background-color:#b2bcc0;
}
#blue_box{
	margin:3%;
	background-color:#153340;
	height:90%;
	color: #b2bcc0;
}
#grey_box{
	margin:3%;
	background-color:#7fb4ca;
	height:90%;
	color: #3c3f40;
	font-size: 32px;
	line-height: 2;
	letter-spacing:3px;
}
#row1, #row2, #row3{
	width:100%;
	margin:0px;
	padding:0px;
	background-color:#b2bcc0;
	font-size:32px;
}
#box_1{
	margin:0%;
	/*margin-top:3%;*/
	background-color:#7fb4ca;
	}
#box_2{
	margin-bottom:3%;
	margin-left:3%;
	margin-right:3%;
	background-color:#7fb4ca;
}
#box_3{
	margin-bottom:3%;
	margin-left:3%;
	margin-right:3%;
	background-color:#153340;
	color:#b2bcc0;
}
#row4, #row5, #row6, #row7, #row8{
	/*height:300px;
	width:100%;*/
	margin:0px;
	padding:0px;
	background-color:#b2bcc0;
	font-size:32px;
}
#row5,#row6,#row7, #row8{
	position:relative;
	top:50px;
}
#box_4,#box_8{
	/*position:absolute;
	width:60%;
	/*margin:3%;*/
	background-color:#7fb4ca;
	height:40%;
	left: 50px;
	margin-top:100px;
}
#box_5,#box_6,#box_7{
	position:relative;
	width:60%;
	margin:3%;
	background-color:#153340;
	height:40%;
	left: 50px;
	padding: 25px;
	top: 50px;
	color:#b2bcc0;
}
#box_8{
	width:83%;
	margin-bottom:100px;
}
a:link, a:visited{
	color:#b2bcc0;
	text-decoration:none;
}
a:hover{
	color:#7fb4ca;	
	text-decoration:none;
}
a:active{
	color:white;	
	text-decoration:none;
}
#mepic{
	width:100%;
	height:100%;
	margin-top:5%;
}
#mich{
	margin-top:50px;
	margin-left:20px;
	height:200px;
	width:auto;
}
#aerologo,#motlogo,#fflogo{
	/*width: 300px;
	height: 120px;*/
	height:210px;
	width:400px;
	background-color: white;
	margin-top:40%;
	margin-left:30%;
}
#stratus_heading{
	font-size: 45px;
}
#stratus_snippet{
	font-size: 32px;
}
#stratus{
	right: 0px;
}
.img-responsive.img-center{
	margin-left:auto;
	margin-right:auto;	
}
#aerosnippet{
	font-size:32px;	
}

#name{
	font-size: 55px;
	margin: 0px;
	}
	#mea{
	font-size:25px;
	}
#aerotitle,#mottitle,#fftitle{
	margin-top:-15px;
	margin-bottom: 15px;
}
#uno, #dos, #tres{
	margin-top:30px;
	margin-left:55px;
	font-size:100%;	
}

@media only screen and (max-width: 899px) {
	#name{
	font-size:40px;
	margin: 0px;
	}
	#name_block{
	padding-top: 5%;
	font-family: "Baskerville Old Face", Helvetica, Arial, sans-serif;
	}
	#aerosnippet{
	font-size:22px;	
	}
	#stratus_heading{
	font-size: 35px;
	}
	#stratus_snippet{
	font-size: 25px;
	}
	#nav_active_page{
	font-size: 35px;
	}
	#nav_unactive_page_1{
	font-size: 25px;
	}
	#nav_unactive_page_2{
	font-size: 25px;
	}
	#blue_box{
	margin-top:30px;
	margin-left:30px;
	margin-right:0px;
	margin-bottom:0px;
	}
	#grey_box{
	margin-top:30px;
	margin-left:30px;
	margin-right:0px;
	margin-bottom:20px;
	line-height:1.75;
	}
	#uno, #dos, #tres{
	margin-top:30px;
	margin-left:55px;
	font-size:80%;	
	}
	#mich{
	display:none;
	}
	#mepic{
	display:none;
	}
	#box_1, #box_2, #box_3{
	font-size: 30px;
	margin-left:20px;
	margin-right:0px;
	margin-bottom:20px;
	width:93%;
	}

}
@media only screen and (max-width: 450px) {
	#name{
	font-size: 22px;
	margin: 0px;
	}
	#name_block{
	padding-top: 3%;
	font-family: "Baskerville Old Face", Helvetica, Arial, sans-serif;
	}
	#mea{
	font-size:16px;
	}
	#aerosnippet{
	font-size:15px;	
	}
	#stratus_heading{
	font-size: 20px;
	}
	#stratus_snippet{
	font-size: 15px;
	}
	#nav_active_page{
	font-size: 30px;
	padding:0px;
	}
	#nav_unactive_page_1{
	font-size: 20px;
	padding:0px;
	}
	#nav_unactive_page_2{
	font-size: 20px;
	padding:0px;
	}
	#main_nav {
	height: 45px;

	}
	#blue_box{
	width:auto;
	margin-top:20px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	}
	#grey_box{
	width:auto;
	margin-top:20px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	line-height:1.5;
	}
	#mich{
	display:none;
	}
	#mepic{
	display:none;
	}
	#box_1, #box_2, #box_3{
	font-size: 20px;
	width:90%;
	
	}
	#uno, #dos, #tres{
	margin-top:30px;
	margin-left:55px;
	font-size:60%;	
	}
}
